@model IEnumerable<MovieJournalDTO.MovieOnList>

<h1 class="text-info">@(ViewContext.RouteData.Values["userName"])'s movie journal</h1>
<br />
<!--------List of unwatched movies-------->
<h2 class="text-danger">Not watched yet</h2>
<table class="table">
    <tr>
        <th class="col-md-8">Title</th>
        <th class="col-md-2">@Html.DisplayNameFor(model => model.Rating)</th>
        <th class="col-md-2">@Html.DisplayNameFor(model => model.Review)</th>
        <th class="col-md-2">@Html.DisplayNameFor(model => model.Watched)</th>
    </tr>



    @foreach (var item in Model)
    {
        if (!item.Watched)
        {
            <tr>
                <td><b>@TMDBGateway.TMDBServices.TMDBGateWayService.Instance.GetMovie(item.MovieId).Title</b> (@TMDBGateway.TMDBServices.TMDBGateWayService.Instance.GetMovie(item.MovieId).Release)</td>
                <td></td>
                <td></td>
                <td>
                    <button title="Set as 'watched'" type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        }
    }
</table>

<br />

<!--------List of unwatched movies-------->
<h2 class="text-success">Watched movies</h2>
<table class="table">
    <tr>
        <th class="col-md-8">Title</th>
        <th class="col-md-2">@Html.DisplayNameFor(model => model.Rating)</th>
        <th class="col-md-2">@Html.DisplayNameFor(model => model.Review)</th>
        <th class="col-md-2">@Html.DisplayNameFor(model => model.Watched)</th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.Watched)
        {
            <tr>
                <td><b>@TMDBGateway.TMDBServices.TMDBGateWayService.Instance.GetMovie(item.MovieId).Title</b> (@TMDBGateway.TMDBServices.TMDBGateWayService.Instance.GetMovie(item.MovieId).Release)</td>
                <td>
                        @if (@item.Rating == 0)
                    {<text>No rating yet</text>}
                    else
                    {@Html.DisplayFor(modelItem => item.Rating)<text>/10</text>}
                </td>
                <td>
                    <!-- Trigger the review modal with a button -->
                    <a data-toggle="modal" data-target="#@item.Id@Html.DisplayNameFor(model => model.Review)">
                        @Html.DisplayNameFor(model => model.Review)
                    </a>

                    <!-- Modal -->
                    <div id="@item.Id@Html.DisplayNameFor(model => model.Review)" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-lg">

                            <!-- Review modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">@TMDBGateway.TMDBServices.TMDBGateWayService.Instance.GetMovie(item.MovieId).Title</h4>
                                </div>
                                <div class="modal-body">
                                        <h3>Review</h3>
                                        <h3>@Html.DisplayFor(modelItem => item.Review)</h3>
                                </div>
                            </div>

                        </div>
                    </div>
                </td>
                <td>
                    <button title="Set as 'not watched'" type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        }
    }
</table>