@model MovieJournalDTO.Movie

@{
    ViewBag.Title = "GetMovie";
}

<div class="container table-bordered">
    <div class="row">
        <div class="col-md-2">
                <img src="@Html.Encode(Model.Image)">
        </div>
        <div class="col-md-6">
                <h1>@Html.Encode(Model.Title)</h1>
                <h3 style="color:gray;display: block;"> 
            <!--If valid release date, show first 4 characters of release, which is the release year, else output "No release date"-->
            (@if (@Model.Release.Length >= 4)
            {@Html.Encode(Model.Release.Substring(0, 4))}
            else
            {
            <text>No release date</text>
            })
                </h3>
                <h4> 
                <span class="glyphicon glyphicon-star"></span>
                    <!--If valid rating (rating higher than 0), show-rating/10, else output "No rating available" -->
                    @if (@Model.Rating == 0)
                    {<text>No rating available</text>}
                    else
                    {@Html.Encode(Model.Rating)<text>/10</text>}
                </h4>
                <p>@Html.Encode(Model.Overview)</p>
        </div>
        <div class="col-md-4"  style="border:inset #333333;border-width: 1px; border-right:none">
            <h4>@Html.LabelFor(Model => Model.Genres):</h4>
            
                @foreach (var item in @Model.Genres)
                {
                    <h5>@Html.DisplayFor(modelItem => item.Name)</h5>

                }
                <br />
            <h4>@Html.LabelFor(Model => Model.Status):</h4>
            @if (@Model.Status.Equals("Released"))
            {
                <h5>@Html.Encode(Model.Status)</h5>
            }
            else
            {
                <h5>@Html.Encode(Model.Status)</h5>
                <h5>Expected release: @Html.Encode(Model.Release)</h5>
            }
        </div>
    </div>
    <br />
    <a href="javascript:history.go(-1)" class="btn btn-warning" role="button">Back</a> |
    @if (User.Identity.IsAuthenticated)
    {
    @Html.ActionLink("Add", "AddMovieOnList", new { movieid = Model.Id }, new { @class = "btn btn-success" })
    }
    else
    {
    <a href="#" class="btn btn-success disabled" role="button">Add</a>
    }
    <br />
</div>


