@model MovieJournalDTO.MovieList
@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    @foreach(var item in Model.Movies)
    {
<div class="col-sm-6 col-md-3">
    <div class="thumbnail" style="box-shadow: 3px 3px 5px #888888;" >
        <img src="@Html.DisplayFor(modelItem => item.Image)">
        <div class="caption">
            <center><h3 style="min-height:60px;height:60px;">@Html.DisplayFor(modelItem => item.ShortTitle)</h3></center>
            <p style="min-height:80px;height:80px;">@Html.DisplayFor(modelItem => item.ShortOverview)</p>
            <center>
                <p>
                    @Html.ActionLink("Details", "GetMovie", new { id = item.Id }, new { @class = "btn btn-primary" })
                    @if (User.Identity.IsAuthenticated)
                    {
                    @Html.ActionLink("Add", "AddMovieOnList", new { movieid = item.Id }, new { @class = "btn btn-success" })
                    }
                    else
                    {
                        <a href="#" class="btn btn-success disabled" role="button">Add to list</a>
                    }
                </p>
            </center>
        </div>
    </div>
</div>
    }

</div>