<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Movie Journal</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/SearchBar.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("MovieJournal", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

               
                <ul class="nav navbar-nav">
                    <center>
                        <form action="/profile?userName=">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            <span><input type="text" style="background-color:white" name="userName" class="search rounded" placeholder="Search for profile..."></span>
                        </form>
                    </center>
                </ul>

                @RenderPage("~/Views/Shared/_LoginLayout.cshtml")
            </div>
        </div>
    </div>
    
    <div class="navbar navbar-default navbar-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                    <center>
                        <form action="/home/search/">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        <span><input type="text" name="query" class="search rounded" placeholder="Search for movies..."></span>
                    </form>
                </center>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
